* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  /* padding-left: 2rem; */
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #3e3f44;
  overflow: hidden;
}

#canvas-holder {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - 17rem);
  background-color: 28292e;
  overflow: hidden;
}

/* #canvas {
  position: relative;
  border: 1px solid white;
  justify-content: center;
  align-items: center;

} */

#p5-canvas {
  display: inherit;
}

#three-canvas {
  display: inherit;
}

#stats {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

#version {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #3e3f44;
  width: calc(100% - 17rem);
  text-align: center;
  font-family: var(
    --tp-font-family,
    Roboto Mono,
    Source Code Pro,
    Menlo,
    Courier,
    monospace
  );
  font-size: 11px;
  font-weight: 800;
}

/* .c select {
  background: #303030;
  outline: none;
  color: rgb(255, 255, 255);
  border: 0;
  margin-top: 2px !important;
  padding: 3px;
  width: 100%;
  float: right;
} */

#gui {
  width: 17rem;
  height: 100%;
  /* position: absolute;
  top: 0;
  right: 0; */
  overflow-y: overlay;
  padding-right: 8px;
  background-color: #3e3f44;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e3f44;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbcc4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbbcc4;
}
